# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Django
db.sqlite3
media/
staticfiles/

# ML Models
*.h5
*.pt
*.pth
*.pkl
*.joblib

# Audio & Image Dataset
data/
*.wav
*.mp3
*.png
*.jpg
*.jpeg

# Spectrograms
audio_spectrograms/

# OS
.DS_Store
Thumbs.db
